/** BACKGROUND**/
body {
    font-family: 'Roboto', sans-serif;
}

/** TEXTFARBE **/
#poster {
    color: #ffffff;
    justify-content: center;
    align-items: center;
    background-color: #000526;
    padding: 2%;
}


/** INTRO**/
#info {
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    animation-duration: 24s;
    animation-fill-mode: both;
    animation-name: lightSpeedInLeft;
    animation-delay: 14s;
}

@keyframes lightSpeedInLeft {
    0% {
        transform: translateX(-100%) skewX(30deg);
        opacity: 0;
    }

    5% {
        transform: translateX(0) skewX(0);
        opacity: 1;
    }

    95% {
        transform: translateX(0) skewX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


/** HEADER **/
.heading {
    font-size: 2.5em;
    padding-left: 5%;
    animation-name: flashAnimation;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 5;
}

@keyframes flashAnimation {
    0% {
        color: #ffffff;
    }

    50% {
        color: #CE00C3;
    }

    100% {
        color: #ffffff;
    }
}

/** UNDERGROUND LOGO **/
.underground {
    width: 60%;
    margin: 0 auto;

    /** LOGO DREHEN **/
    animation-name: rotate;
    animation-delay: 6s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.containerUnderground {
    display: flex;
    padding: 2%;

    /** LOGO ERSCHEINEN **/
    opacity: 0;
    animation-name: appearLogo;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 6s;


}

@keyframes appearLogo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/** PFEILE VIOLETT**/
.arrow {
    background-color: #ce00c3;
    padding: 2rem;
    clip-path: polygon(0% 25%, 0% 100%, 75% 100%, 75% 75%, 45% 75%, 100% 19%, 81% 0%, 26% 55%, 26% 25%);
    cursor: pointer;
    transition: transform 0.5s ease;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0.5;
        background-color: #ce00c3;
    }

    30% {
        opacity: 1;
        background-color: #ce00c3;
    }

    100% {
        opacity: 1;
        background-color: #ffffff;
        transform: scaleX(-1);
    }
}

@keyframes flashAnimation2 {
    0% {
        color: #ffffff;
    }

    50% {
        color: #CE00C3;
    }

    100% {
        color: #ffffff;
    }
}

/* Verzögerte Animation für die einzelnen Pfeile */
.arrow:nth-child(1) {
    animation-delay: 10.5s;
    width: 2em;
    height: 2em;
    rotate: 45deg;
}

.arrow:nth-child(2) {
    animation-delay: 11s;
    width: 3em;
    height: 3em;
    rotate: 45deg;
}

.arrow:nth-child(3) {
    animation-delay: 11.5s;
    width: 4em;
    height: 4em;
    rotate: 45deg;
    
}

.arrow:nth-child(4) {
    animation-delay: 12s;
    width: 5em;
    height: 5em;
    rotate: 45deg;
}

.containerArrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/** RESPONSIVES DESIGN - DESKTOP **/
@media screen and (min-width: 1025px) {

    #info {
        font-size: 1.5em;
        border-bottom: none;
        border-top: none;
    }



}

/** RESPONSIVES DESIGN - TABLET **/
@media screen and (max-width: 769px) and (min-width: 641px) {}

/** RESPONSIVES DESIGN - SMARTPHONE **/
@media screen and (max-width: 640px) {}

/** RESPONSIVES DESIGN - SMARTPHONE 2 **/
@media screen and (max-width: 530px) {}